#scroller::-webkit-scrollbar,
#reels::-webkit-scrollbar,
.stories > div:nth-child(2)::-webkit-scrollbar,
.css-66dh3a-MuiInputBase-input-MuiInput-input::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0 !important;
}
.svg circle {
  stroke-dasharray: 100, 0;
  animation: dash 1.5s linear infinite;
  -webkit-animation: dash 1.5s linear infinite;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 4;
  width: 30px;
  height: 30px;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
ul.slick-dots {
  z-index: 4;
  bottom: 16px;
}
.slick-dots li button:before {
  color: #fff !important;
}
.slick-active {
  opacity: 1;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.stories .slick-list {
  overflow: visible;
}
.stories .slick-slide {
  max-width: 400px;
}
@media screen and (max-width: 1024px) {
  .stories .slick-slide {
    max-width: 50vw;
  }
}
@media screen and (max-width: 600px) {
  .stories .slick-slide {
    max-width: 80vw;
  }
}
.stories .slick-track {
  display: flex;
  align-items: center;
}
.stories .slick-center {
  width: auto !important;
}
.stories textarea {
  color: #fff;
}
.stories textarea::placeholder {
  color: #fff;
  font-size: 10px;
}
.css-e7jku1-MuiInputBase-root-MuiInput-root:before,
.css-e7jku1-MuiInputBase-root-MuiInput-root:after,
.css-e7jku1-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  )::before,
.css-hk1uy2-MuiInputBase-root-MuiInput-root::after,
.css-hk1uy2-MuiInputBase-root-MuiInput-root::before,
.css-hk1uy2-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  )::before,
.css-j3x4sh-MuiInputBase-root-MuiInput-root::after,
.css-j3x4sh-MuiInputBase-root-MuiInput-root::before,
.css-j3x4sh-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  )::before {
  border: none;
}
.css-66dh3a-MuiInputBase-input-MuiInput-input {
  max-height: 100px;
  overflow-y: scroll;
}
video {
  max-width: 100%;
}
@keyframes dash {
  0% {
    stroke-dasharray: 100, 0;
  }

  50% {
    stroke-dasharray: 50, 50;
  }

  100% {
    stroke-dasharray: 100, 0;
  }
}
